/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

body {
  font: 14px/200% "Roboto", Arial, Helvetica; }

h1,
h2,
h3,
h4 {
  line-height: 150%;
  font-weight: 700; }

h3 {
  font-size: 11px;
  text-transform: uppercase; }

nav a {
  font-family: 'Raleway';
  font-weight: 500; }

body {
  min-width: 320px; }

.wrapper {
  width: 1310px;
  margin: 0 auto; }

header .wrap {
  max-width: 1920px;
  width: 100%;
  height: 100%; }

.container {
  width: 1310px;
  margin: 0 auto; }

.transit04, header nav a, header nav a:before, header .acc .lang, header .btn.registerC, header .btn.loginC, footer .links p a {
  transition: .25s all; }

html {
  background-color: #121623; }

select, input, textarea {
  color: #ECF0F6;
  outline: none; }

b {
  font-weight: 600; }

a {
  color: #2C519B;
  text-decoration: none; }

a:focus {
  outline: none; }

ul, ol {
  list-style: none; }

textarea,
input[type=password],
input[type=text] {
  font-size: 11px;
  color: #9D9D9D;
  text-indent: 15px;
  outline: none;
  border: 1px solid #ECF0F6;
  height: 34px;
  font-family: "Roboto"; }

input[type=text] {
  padding-top: 0; }

select:focus,
textarea:focus,
input[type=text]:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: .4s all; }

textarea {
  min-height: 130px;
  padding: 15px;
  text-indent: 0; }

select {
  float: left;
  background: #FFF;
  border: 1px #ECF0F6 solid;
  outline: none;
  border-radius: 1px;
  color: #9D9D9D;
  padding: 0 8px;
  width: 220px;
  height: 34px;
  font-size: 11px;
  background: #FFF url(../img/icon/select-arrow.png) no-repeat right 14px;
  -webkit-appearance: none;
  overflow: hidden;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none; }

::-webkit-input-placeholder {
  font-size: 10px;
  color: #D5DAE1; }

::-moz-placeholder {
  font-size: 10px;
  color: #D5DAE1; }

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: rgba(25, 25, 25, 0.1);
  text-shadow: none; }

::selection {
  background: rgba(25, 25, 25, 0.1);
  text-shadow: none; }

/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: transparent; }

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Mozilla dosen't style place holders by default */
ul {
  list-style: none; }

label {
  color: #6b7684;
  cursor: default; }

p {
  color: #9d9d9d; }

header {
  width: 100%;
  min-height: 45px;
  padding-top: 15px;
  background-color: rgba(18, 22, 35, 0.95);
  padding: 0 15px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; }
  header:before {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
  header .logo {
    background: url(../img/logo.png) no-repeat;
    width: 244px;
    height: 40px;
    margin: 22px 0 0 0;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    float: left; }
  header nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase; }
  header nav li {
    display: inline;
    height: 100%; }
    header nav li.active > a {
      color: #68C1E8;
      font-weight: 600; }
  header nav a {
    display: inline-block;
    padding: 6px 1.30208333333333% 0;
    height: 100%;
    line-height: 100%;
    color: #FFFFFF;
    line-height: 440%;
    position: relative; }
    header nav a:hover {
      color: #68C1E8;
      background-color: #161B2B; }
    header nav a:before {
      height: 0;
      width: 100%;
      content: " ";
      position: absolute;
      top: 0;
      left: 0; }
    header nav a:hover:before {
      height: 5px;
      background-color: #68C1E8; }
  header .acc {
    position: absolute;
    right: 0;
    height: 100%;
    top: 15px;
    right: 15px; }
    header .acc .lang {
      float: right;
      border-left: #5A5D6A solid 1px;
      cursor: pointer;
      max-height: 13px;
      position: relative;
      min-width: 43px;
      text-indent: 10px;
      overflow: hidden;
      margin: 15px 0 0 15px; }
      header .acc .lang a {
        float: left;
        width: 100%;
        color: #FFFFFF;
        line-height: 100%;
        padding: 10px 0; }
        header .acc .lang a:first-child {
          padding: 0 0 10px 0; }
      header .acc .lang:before {
        background: url(../img/icons/sprite.png) -52px -8px;
        width: 9px;
        height: 5px;
        content: " ";
        position: absolute;
        top: 4px;
        right: 10px; }
      header .acc .lang.hover {
        max-height: 100%; }
        header .acc .lang.hover a:not(:first-child) {
          background: #121623; }
    header .acc .iconLinks, header .acc .helpCenter, header .acc .liveChat {
      width: 20px;
      height: 20px;
      background: url(../img/icons/sprite.png) no-repeat;
      float: right;
      margin: 10px 0 0 15px;
      text-indent: -9999px;
      overflow: hidden; }
    header .acc .iconLinks:hover, header .acc .helpCenter:hover, header .acc .liveChat:hover {
      margin-top: 11px; }
    header .acc .helpCenter {
      background-position: -26px 0; }
    header .acc .liveChat {
      background-position: 0 0; }
    header .acc .btn {
      float: right;
      letter-spacing: 1px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      border: 1px solid transparent;
      margin: 5px 0 0 15px;
      padding: 0 20px; }
  header .btn.registerC {
    color: #FFFFFF;
    background-color: #57B667;
    text-shadow: 0 0 1px #AAA; }
    header .btn.registerC:hover {
      height: 38px;
      padding: 4px 20px;
      margin-top: 1px; }
    header .btn.registerC:active {
      transform: scale(0.9); }
  header .btn.loginC {
    color: #68C1E8;
    border-color: #68C1E8;
    text-shadow: 0 0 1px #333; }
    header .btn.loginC:hover {
      height: 38px;
      padding: 4px 20px;
      margin-top: 1px;
      background: rgba(0, 0, 0, 0.2); }
    header .btn.loginC:active {
      transform: scale(0.9); }

footer {
  width: 100%; }
  footer .container {
    border-top: #505767 1px solid;
    padding-top: 35px; }
  footer .links {
    width: 100%;
    padding-bottom: 30px;
    float: left; }
    footer .links li {
      width: 20%;
      float: left; }
    footer .links p {
      float: left;
      width: 100%;
      line-height: 100%;
      margin-bottom: 15px;
      font-size: 14px; }
      footer .links p a {
        color: #484F5E;
        border-bottom: 1px solid transparent;
        padding-bottom: 0;
        font-weight: 500; }
        footer .links p a:hover {
          border-color: #C5C9D2;
          padding-bottom: 3px;
          color: #C5C9D2; }
    footer .links .title {
      font-size: 15px;
      color: #727888;
      text-transform: uppercase;
      padding-bottom: 10px;
      font-weight: 500; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before,
  .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slideWrap {
  position: relative;
  z-index: 1;
  overflow: hidden; }

.slick-slide img {
  min-width: 1920px; }

.slick-dots {
  position: absolute;
  right: 5%;
  left: auto;
  bottom: 50px;
  z-index: 5;
  text-indent: -9999px; }
  .slick-dots li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #61666A;
    opacity: .8;
    float: left;
    margin-left: 3px;
    cursor: pointer;
    outline: hidden;
    border: none; }
  .slick-dots li.slick-active {
    background-color: #68C1E8; }

.slides-container {
  position: relative; }

.details {
  width: 50%;
  left: 10%;
  bottom: 30%;
  position: absolute; }

.details h2 {
  color: #FFFFFF;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 120%;
  font-weight: 500;
  transition: 1s all;
  transform: translate(0, -40px);
  opacity: 0; }

.details a.btn {
  color: #FFFFFF;
  background: #57B667;
  width: 240px;
  height: 60px;
  font-size: 22px;
  float: left;
  text-align: center;
  border-radius: 6px;
  line-height: 60px;
  margin: 25px 0 0 -5px;
  transition: 1s all;
  transform: translate(40px, 0);
  opacity: 0; }

.details p.login {
  color: #FFFFFF;
  font-size: 18px;
  clear: both;
  margin: 5px 0 0 0;
  font-weight: 400;
  float: left;
  transition: 1s all;
  transform: translate(40px, 0);
  opacity: 0; }

.details p.login a {
  color: #68C1E8;
  margin-left: 10px;
  border-bottom: 1px #68C1E8 solid;
  padding-bottom: 0px;
  transition: 1s all;
  transform: translate(40px, 0); }

.slick-active .details h2 {
  transform: translate(0, 0);
  transition-delay: .40s;
  opacity: 1; }

.slick-active .details .btn {
  transform: translate(0, 0);
  transition-delay: 0.60s;
  opacity: 1;
  border-radius: 0;
  text-shadow: 0 0 1px #555; }

.slick-active .details .login {
  transform: translate(0, 0);
  transition-delay: 0.80s;
  opacity: 1; }

.slick-slide {
  outline: none;
  position: relative;
  overflow: hidden; }

.landingPage footer {
  border-top: #161B2B solid 15px; }
  .landingPage footer .container {
    border: none; }

.slick-active img {
  -webkit-animation-name: bounce-background;
  animation-timing-function: ease-in-out;
  animation-duration: 40s;
  animation-iteration-count: infinite; }

@keyframes bounce-background {
  from, to {
    transform: scale(1); }
  50% {
    transform: scale(1.15); } }
